<% breadcrumbs(
  { label: t("admin_tenants.tenants.index.title"), path: admin_tenants_path },
  { label: @tenant.name, path: admin_tenant_path(@tenant) },
  { label: t("admin_tenants.tenants.edit.title") }
) %>

<div>
  <h1 class="font-bold text-4xl"><%= t(".title") %></h1>
  <p><%= t(".description") %></p>
</div>

<%= render "form",
  tenant: @tenant,
  url: admin_tenant_path(@tenant),
  description: t(".description"),
  submit_label: t("update") %>
