<% breadcrumbs(
  { label: t("admin_tenants.tenants.index.title"), path: admin_tenants_path },
  { label: @tenant.name }
) %>

<div>
  <div>
    <h1 class="font-bold text-4xl"><%= t(".title") %></h1>
    <p><%= t(".description") %></p>
  </div>
  <div class="mt-6 border-t border-gray-100 dark:border-white/10">
    <dl class="divide-y divide-gray-100 dark:divide-white/10">
      <% @tenant_details.each do |label, value| %>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900 dark:text-gray-100"><%= label %></dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0 dark:text-gray-400"><%= value.presence || "-" %></dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
