<div class="space-y-3 text-sm">
  <%- if controller_name != 'sessions' %>
    <p><%= render "shared/atoms/text_link", text: t('devise.sessions.new.sign_in'), path: new_session_path(resource_name) %></p>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p><%= render "shared/atoms/text_link", text: t('devise.registrations.new.sign_up'), path: new_registration_path(resource_name) %></p>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p><%= render "shared/atoms/text_link", text: t('devise.passwords.new.forgot_password'), path: new_password_path(resource_name) %></p>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p><%= render "shared/atoms/text_link", text: t('devise.confirmations.new.did_not_receive_instructions'), path: new_confirmation_path(resource_name) %></p>
  <% end %>
</div>
