<%
  normalized_type =
    case type.to_sym
    when :notice
      :notice
    when :alert
      :alert
    when :success
      :success
    else
      :neutral
    end

  variant_class =
    case normalized_type
    when :notice
      "app-flash--notice"
    when :alert
      "app-flash--alert"
    when :success
      "app-flash--success"
    else
      "app-flash--neutral"
    end

  icon_name =
    case normalized_type
    when :alert
      "status-alert"
    when :success
      "status-success"
    else
      "status-info"
    end
%>

<div
  data-controller="flash"
  data-flash-delay-value="2600"
  class="app-flash <%= variant_class %>"
  role="status"
  aria-live="polite"
>
  <div class="app-flash__icon" aria-hidden="true">
    <%= render "shared/atoms/icon", name: icon_name, class_name: "size-5" %>
  </div>

  <div class="min-w-0 flex-1">
    <p class="app-flash__message"><%= message %></p>
  </div>

  <button
    type="button"
    data-action="flash#close"
    class="app-flash__close"
    aria-label="Close notification"
  >
    <%= render "shared/atoms/icon", name: "x-mark", class_name: "size-4" %>
  </button>
</div>
