<%
  input_method = local_assigns.fetch(:type, :text_field)
  input_html = (local_assigns[:input_html] || {}).dup
  label_text = local_assigns.fetch(:label, field.to_s.humanize)
  description = local_assigns[:description]
  base_input_class = "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500"

  input_html[:class] = [base_input_class, input_html[:class]].compact.join(" ")
%>

<div>
  <%= form.label field, label_text, class: "block text-sm/6 font-medium text-gray-900 dark:text-white" %>
  <% if description.present? %>
    <p class="text-sm/6 text-gray-500 dark:text-gray-400"><%= description %></p>
  <% end %>
  <%= form.public_send(input_method, field, **input_html) %>
</div>
