<%
  value_builder = local_assigns.fetch(:value_builder, ->(record, column) { record[column] })
  mobile_title_builder = local_assigns.fetch(:mobile_title_builder)
  mobile_subtitle_builder = local_assigns[:mobile_subtitle_builder]
  record_name_builder = local_assigns.fetch(:record_name_builder, mobile_title_builder)
  actions_builder = local_assigns.fetch(:actions_builder, ->(_record) { [] })
  skip_mobile_columns = Array(local_assigns[:skip_mobile_columns]).map(&:to_sym)
  action_column_count = local_assigns.fetch(:action_column_count, 1)
  empty_title = local_assigns.fetch(:empty_title, t("shared.empty_state.table_empty_title"))
  empty_description = local_assigns.fetch(:empty_description, t("shared.empty_state.table_empty_description"))
%>

<div class="mt-8 flow-root">
  <% if records.any? %>
    <%= render "shared/organisms/resource_mobile_card_list",
      records: records,
      headers: headers,
      columns: columns,
      mobile_title_builder: mobile_title_builder,
      mobile_subtitle_builder: mobile_subtitle_builder,
      value_builder: value_builder,
      actions_builder: actions_builder,
      skip_mobile_columns: skip_mobile_columns %>

    <%= render "shared/organisms/resource_desktop_table",
      records: records,
      headers: headers,
      columns: columns,
      value_builder: value_builder,
      actions_builder: actions_builder,
      record_name_builder: record_name_builder,
      action_column_count: action_column_count %>
  <% else %>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <%= render "shared/molecules/empty_state",
        title: empty_title,
        description: empty_description %>
    </div>
  <% end %>
</div>
