<%
  variant = local_assigns.fetch(:variant, :primary).to_sym
  type = local_assigns.fetch(:type, :button)
  class_name = local_assigns[:class_name]

  base_class =
    case variant
    when :danger
      "app-button app-button--danger"
    else
      "app-button app-button--primary"
    end
%>

<button type="<%= type %>" class="<%= [base_class, class_name].compact.join(" ") %>"><%= text %></button>
