<p><%= t('devise_views.mailer.unlock_instructions.greeting', email: @resource.email) %></p>

<p><%= t('devise_views.mailer.unlock_instructions.message') %></p>

<p><%= t('devise_views.mailer.unlock_instructions.action_message') %></p>

<p><%= link_to t('devise_views.mailer.unlock_instructions.action'), unlock_url(@resource, unlock_token: @token) %></p>
